
<h1 class="welcomestmt"> Welcome to our College Site <mat-icon fontIcon="school"></mat-icon></h1><br>

<div class="row row-cols-1  row-cols-md-3">
    <div class="col-mb-4"   *ngFor="let card of cardDetails | async">
        <h1 class="eventstmt"> Events Related to {{card.domain}} </h1>
        <mat-card class="card">
            <mat-card-header class="header">
                <mat-card-title class="cardtitle"> {{card.title}} </mat-card-title>
                <mat-card-subtitle class="location"> <b>Location: </b> Muraai University, Bengaluru-560068. </mat-card-subtitle>
            </mat-card-header>
            <div mat-card-avatar class="image">
                <img class="image" src="{{card.image}}">
            </div><br><br><br>
            
            <mat-card-content>
                <p class="cardtopic"> Events: <strong> {{card.topic}} </strong> </p>  <br>
                <p> <b> Description:</b> {{card.description}} </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>
