<!-- <app-toggle-sidenav></app-toggle-sidenav> -->

<form class="card" [formGroup]="formdata" (ngSubmit)="login(formdata.value)">
    <h1 class="head"> Login </h1>
    <div class="id">
        <label for="userId" class="idtext"> User-ID: </label>  
        &nbsp; &nbsp;&nbsp; &nbsp; <input type="any" class="idbox" name="userid" value="userID" formControlName="email">
    </div>

    <div class="password">
            <label for="password" class="passtext"> Password: </label>
           <input type="password" class="passbox" name="password" value="password" formControlName="password">
    </div>

    <button class="login" type="submit"> Login </button>
</form>


