.head{
    margin-top: 20px; 
    color:blueviolet; 
    text-align:center;
}

.table{
    text-align: center; 
    margin-left:50px; 
    margin-top:5px; 
    border: 2px groove; 
    width: 100%;
}
/* .dashboardarea{
    display: flex;
} */

.containerarea{
    width:2180px;
    height:650px;
}

.content{
    display: flex;
    /* height:100% */ 
}