<!-- <p>toggle-sidenav works!</p> -->

<div class="header">
    <div class="content">
      <button class="menu-btn" (click)="drawer.toggle()">
         Menu 
      </button>
    </div> 
</div>
<div>
    <mat-drawer-container class="containerarea" autosize>
        <mat-drawer #drawer class="sidebox" mode="side">
          <button (click)="sidenavhome()" mat-button>
            Home
          </button>
        </mat-drawer>
        <app-loginpage></app-loginpage>
    </mat-drawer-container>    
</div>
